.divLogin{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;

  height: 90vh;
  width: 90vw;
  overflow: hidden;
  
  transition: 0.5s;
}
.logo{
  width: 100px;
}

.title{
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.5s;
}

.containerMid{
  background-color: aliceblue;
  width: 40em;
  height: 20em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  border-radius: 20px;
  transition: 0.5s;

}

.btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.btnB{
  width: 100px;
  height: 30px;
  border: none;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #00A5AA;
  transition: 0.5s;
}

.btnB:hover{
  background-color: #004a4d;
  transition: 0.5s;
}