.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 90vw;
  padding: 20px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
  width: 90vw;
  height: auto;
}

.perfil{
  width: 20%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .perfil{
    width: 90%;
    margin: 0;
    border-bottom: 1px solid black;
  }
  

}

.hiddenTable {
  position: absolute;
  left: -9999px;
  top: -9999px;
  display: flex;
  flex-wrap: flex;
  justify-content: center;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .perfil{
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}