#root {
  text-align: center;
  max-width: 100vw;
  min-height: 100vh;
  
  transition: 0.5s;
}

html {
  background-color: rgba(0,0,0,1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  
}

body{
  margin: 0;
}
